section {
  border: 3px solid rgb(27, 44, 201);
  margin-top: 10px;
  padding: 10px;
  border-radius: 3cap;
  width: 300px;
}
label {
  margin-top: 5px;
}
h3 {
  color: white;
  background-color: rgb(33, 31, 168);
  padding: 3px;
  border-radius: 5cap;
  text-align: center;
}
h4 {
  margin-top: 1px;
  margin-bottom: 0px;
  font-style: italic;
  font-weight: normal;
  color: seagreen;
}
button {
  margin-left: 210px;
  margin-top: 5px;
  background-color: rgb(62, 123, 214);
  color: white;
  padding: 5px;
  font-size: 10px;
  border-radius: 5px;
}
input {
  width: 140px;
  margin-top: 5px;
}
table,
th,
td {
  border: 1px solid rgb(31, 117, 156);
  text-align: center;
}
#agenda {
  display: flex;
  flex-direction: column;
  align-items: start;
}
#ficha {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 10px;
}
#mainForm {
  display: flex;
  flex-direction: column;
  width: 500px;
}

#torneo_btAgregarEquipo {
  width: 49%;
  margin-left: 0px;
  margin-top: 10px;
}
#torneo_btLimpiarCampos {
  width: 49%;
  margin-left: 0px;
  margin-top: 10px;
}
.colCurrency {
  text-align: right;
  padding-left: 10px;
}
.colNumber {
  column-width: 50px;
}
.divSalida {
  display: flex;
  flex-direction: column;
}
.spanInfo {
  font-size: 10px;
  font-style: italic;
  color: rgb(0, 0, 0);
}
